pipeline/TestForEachPipeline.json
{
	"name": "TestForEachPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "OTADW_BD",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored Procedure1",
							"type": "SqlServerStoredProcedure",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"storedProcedureName": "[dbo].[LoadFT]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().TransID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SqlServerLocal",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy Data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Stored Procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource"
								},
								"sink": {
									"type": "AzureDataLakeStoreSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADLSDatalakeStore",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "U-SQL1",
				"type": "DataLakeAnalyticsU-SQL",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"scriptPath": "USQL/Array.usql",
					"scriptLinkedService": {
						"referenceName": "AzureDataLakeStoreDS",
						"type": "LinkedServiceReference"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDataLakeAnalytics1",
					"type": "LinkedServiceReference"
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}